<%- include('../layout/header.html', {title: titlePage}) %>
    <div class="w-full h-screen p-8">
        <div class="container mx-auto flex justify-center">
            <div class="w-full md:max-w-[60%] text-text-primary">
                <div class="mb-4">
                    <a href="/home"
                        class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4">
                        <i class="bi bi-arrow-left-circle text-[1rem]"></i>
                        <span class="text-body">Kembali</span>
                    </a>
                </div>
                <div class="w-full mb-6">
                    <h1 class="text-lg md:text-heading font-bold">
                        Fitur Lain
                    </h1>
                    <p class="text-body text-text-secondary w-1/2">Fitur yang tidak tersedia di WhatsappQue Biasa</p>
                </div>

                <a href="/feature/basajawa"
                    class="w-full rounded-normal flex bg-gradient-to-r from-blue-950 to-blue-900   text-white overflow-hidden hover:opacity-75 ">
                    <div class="w-[80%] px-8 py-4">
                        <h2 class="text-subHeading md:text-subHeading font-bold">
                            Basa Jawa
                        </h2>
                        <p class="text-body text-white w-1/2">Istilah Basa Jawa</p>
                        <p class="text-xs font-mono text-slate-300">Foto Kajupuk saking SeloposNews </p>
                    </div>
                    <div class="w-auto">
                        <img src="/img/ilustrasi-wayang.webp" alt="" class="h-72 object-cover" srcset="">
                    </div>
                </a>
                <%- include('../layout/footer.html'); %>