<%- include('../layout/header.html', {title: titlePage}) %>
    <div class="w-full h-screen p-8">
        <div class="container mx-auto flex justify-center">
            <div class="w-full md:max-w-[60%] text-text-primary">
                <div class="mb-4">
                    <a href="/home"
                        class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4">
                        <i class="bi bi-arrow-left-circle text-[1rem]"></i>
                        <span class="text-body">Kembali</span>
                    </a>
                </div>
                <div class="w-full mb-6">
                    <h1 class="text-lg md:text-heading font-bold">
                        Fitur Lain
                    </h1>
                    <p class="text-body text-text-secondary w-1/2">Fitur yang tidak tersedia di WhatsappQue Biasa</p>
                </div>
                <div class="bg-white shadow-lg rounded-normal px-4 py-2 md:px-8 md:py-4 mb-4 ">
                    <h2 class="text-subHeading md:text-subHeading font-bold">
                        Basa Jawa
                    </h2>
                    <hr class="h-1 bg-slate-400 w-1/3 my-2" />
                    <div class="grid grid-cols-8 w-full mb-2 gap-2">
                        <input type="text"
                            class="px-4 py-2 col-span-7 overflow-hidden rounded-normal border border-black bg-accent "
                            id="apiValue" placeholder="lebukke istilah jawa seng dimaksud" />
                        <button
                            class="px-4 py-2 bg-accent2 text-white hover:opacity-50 border border-slate-400 rounded-normal">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <h2 class="text-body md:text-subHeading mb-3 ">
                        Kasil Pencarian
                    </h2>
                    <div class="grid grid-cols-9 w-full mb-2 gap-2">
                        <div
                            class="bg-white shadow-md px-4 py-2 border border-black hover:opacity-65 rounded-normal mb-2 col-span-3 text-text-secondary font-bold">
                            Geneo
                        </div>
                    </div>
                    <h2 class="text-body md:text-subHeading mb-3 ">
                        Ukara Acak
                    </h2>
                    <div class="grid grid-cols-9 w-full mb-2 gap-2">
                        <div class="button-jawa">
                            Geneo
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('../layout/footer.html'); %>