<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titlePage %></title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
  </head>

  <body class="bg-accent">
    <div class="w-full h-screen p-8">
      <div class="container mx-auto flex justify-center">
        <div class="w-full md:max-w-[80%] text-text-primary">
          <div class="mb-4">
            <a
              href="/manage/user"
              class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4"
            >
              <i class="bi bi-arrow-left-circle text-[1rem]"></i>
              <span class="text-body">Kembali</span>
            </a>
          </div>
          <h1 class="text-heading font-bold mb-4">Hapus Pengguna</h1>
          <div class="w-full bg-white h-[200px] px-8 py-4 rounded-normal">
            <h2 class="text-subHeading mb-2">Konfirmasi Penghapusan</h2>
            <p class="text-body mb-4">
              Anda Yakin ingin menghapus data user
              <span class="font-bold"><%= user.name %></span> ? <br />
              Setelah penghapusan user tersebut tidak dapat menggunakan layanan
              WhatsappQue ini dan tidak ada pemberitahuan ke user. Yakin
              Melanjutkan?
            </p>
            <form action="/manage/user/delete/<%= idTarget %>" method="post">
              <button
                type="submit"
                class="px-8 py-2 rounded-normal w-fit hover:bg-red-700 hover:text-text-primary text-white transition-all delay-75 duration-150 z-40 bg-accent2 flex justify-between items-center gap-4"
              >
                <i class="bi bi-trash text-[1rem]"></i>
                <span class="text-body">Ya, Hapus</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
