<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= titlePage %>
  </title>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/img/profile.png">
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body class="bg-accent">
  <div class="w-full h-screen p-8">
    <div class="container mx-auto flex justify-center">
      <div class="w-full md:max-w-[80%] text-text-primary">
        <div class="mb-4">
          <a href="/manage/user"
            class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4">
            <i class="bi bi-arrow-left-circle text-[1rem]"></i>
            <span class="text-body">Kembali</span>
          </a>
        </div>
        <h1 class="text-heading font-bold mb-4">Verifikasi Pengguna</h1>
        <div class="w-full bg-white px-8 py-4 rounded-normal">
          <h2 class="text-subHeading mb-2">Verifikasi Pengguna</h2>
          <p class="text-body mb-4">
            Anda akan memverifikasi user
            <span class="font-bold">
              <%= user.name %>
            </span> ? <br />
            Setelah diverifikasi user dapat menggunakan layanan WhatsappQue.
            sebelumnya sistem telah mengirim konfirmasi verifikasi via
            Whatsapp ke Anda. Yakin Verif?
          </p>
          <form action="/manage/user/verif/<%= idTarget %>" method="post">
            <button type="submit"
              class="px-8 py-2 rounded-normal w-fit hover:bg-slate-700 hover:text-text-primary text-white transition-all delay-75 duration-150 z-40 bg-secondary flex justify-between items-center gap-4">
              <i class="bi bi-trash text-[1rem]"></i>
              <span class="text-body">Ya, Verifikasi</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>