<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= titlePage %>
    </title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body class="bg-accent">
    <div class="w-full h-screen p-8">
        <div class="container mx-auto flex justify-center">
            <div class="w-full md:max-w-[60%]">
                <div class="w-full mb-4 px-8 py-6 bg-white text-text-primary rounded-normal shadow-lg">
                    <h4 class="text-subHeading w-full text-center ">Data Anda sudah tercatat</h4>
                    <h5 class="text-body font-light mb-4 ">Datamu sudah tercatat di database kami, namun belum dapat
                        menggunakan layanan hingga owner memverifikasi anda</h2>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include('../layout/footer.html'); %>