<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/highlight/styles/xt256.min.css" />
  <script src="/highlight/highlight.min.js"></script>
  <style>
    .hljs {
      border-radius: 10px;
    }
  </style>
</head>

<body class="bg-accent">