@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Inter';
      src: url(/fonts/Inter-VariableFont_slnt,wght.ttf);
    }
  }
  @layer base {
    html {
      font-family: "Inter", system-ui, sans-serif;
    }
  }
.visible-dropdown {
    @apply -bottom-20
}

.visible-dropdown1 {
  @apply -bottom-10 opacity-100 z-30
}

.develope-info {
  @apply bg-accent text-white
}

.expandinfo {
  @apply -translate-y-0 z-0 opacity-100 
}

.kamu_pacaran_wkwkwk_goblog {
  @apply bg-accent2
}
.visible {
  @apply block
}

.scroll-text-container {
  overflow: hidden;
}

.scroll-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite; /* Ubah 10s sesuai kecepatan yang Anda inginkan */
}
.scroll-text1 {
  white-space: nowrap;
  animation: scroll 20s linear infinite; /* Ubah 10s sesuai kecepatan yang Anda inginkan */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}