<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= titlePage %>
  </title>
  <link rel="icon" type="image/x-icon" href="/img/profile.png">
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="bg-accent">
  <div class="w-full h-screen">
    <div class="container mx-auto">
      <div class="w-full flex justify-center items-center p-8">
        <div class="min-w-80 p-8 border border-gray-600 rounded my-60 bg-white">
          <form class="mx-auto" method="post" action="/register/action" enctype="multipart/form-data">
            <div class="flex flex-col items-center pb-10">
              <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/img/profile.png" alt="Bonnie image" />
              <h5 class="mb-1 text-xl font-medium text-gray-900 ">
                <%= nameApp %>
              </h5>
              <span class="text-sm text-gray-500 dark:text-gray-400">Daftar</span>
            </div>
            <% if (message.length> 0 ) { %>
              <div
                class="w-full mb-4 flex justify-center bg-white text-secondary rounded-normal border border-black py-2">
                <%= message %>
              </div>
              <% } %>

                <div class="mb-5">
                  <label for="namaLengkap" class="block mb-2 text-sm font-medium text-gray-900 ">Nama
                    Lengkap</label>
                  <input type="text" id="namaLengkap" name="name" min="5"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    placeholder="John Doe" required />
                </div>
                <div class="mb-5">
                  <label for="image" class="block mb-2 text-sm font-medium text-gray-900 ">Foto Anda(Maks
                    10MB)</label>
                  <input type="file" id="image" name="image"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required />
                </div>
                <div class="mb-5">
                  <label for="noWa" class="block mb-2 text-sm font-medium text-gray-900 ">Nomor
                    Whatsapp</label>
                  <input type="number" id="noWa" name="noWa"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required placeholder="08000000000" />
                  <p class="font-mono">
                    <span class="text-accent2 text-2xl">*</span>Perhatikan Format
                    Nomor Whatsapp!!!
                  </p>
                </div>
                <div class="mb-5">
                  <label for="organization"
                    class="block mb-2 text-sm font-medium text-gray-900 ">Instansi/Kelas/Organisasi</label>
                  <input type="text" id="organization" name="organization"
                    class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required placeholder="XI PPLG 2" />
                </div>
                <div class="mb-5">
                  <label for="namaProject" class="block mb-2 text-sm font-medium text-gray-900 ">Nama
                    Project</label>
                  <input type="text" id="namaProject" name="name_project"
                    class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required placeholder="Sistem Informasi" />
                </div>
                <div class="mb-5">
                  <label for="alamat" class="block mb-2 text-sm font-medium text-gray-900 ">Alamat</label>
                  <input type="text" id="alamat" name="address"
                    class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required placeholder="Bangsri RT 02 RW 2" />
                </div>
                <div class="mb-5">
                  <label for="AlasanDaftar" class="block mb-2 text-sm font-medium text-gray-900 ">Alasan
                    Daftar</label>
                  <input type="text" id="AlasanDaftar" name="note" min="10"
                    class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required placeholder="Untuk penambahan fitur pada aplikasi saya" />
                </div>
                <div class="mb-5">
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Kata Sandi
                    Anda</label>
                  <input type="password" id="password" name="password"
                    class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required />
                </div>
                <p class="text-body mb-4">Sudah Punya akun? <a href="/login" class="text-cyan-500 underline">Masuk</a>
                </p>
                <button type="submit"
                  class="text-white bg-blue-700 mb-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Daftar
                </button>
                <p class=" text-xs italic font-mono">Dengan melanjutkan pendaftaran kamu setuju dengan <button
                    onclick="window.open('/toss')" target="_blank" class="text-blue-600 underline">Terms of
                    Service</button> Layanan Ini </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%- include('../layout/footer.html'); %>
</body>

</html>