<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= titlePage %>
  </title>
  <link rel="icon" type="image/x-icon" href="/img/profile.png">
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
</head>

<body class="bg-accent">
  <div class="w-full h-screen p-8">
    <div class="container mx-auto flex justify-center">
      <div class="w-full md:max-w-[80%] text-text-primary">
        <h1 class="text-heading font-bold mb-4">Sembunyikan Pengumuman</h1>
        <div class="w-full bg-white h-[200px] px-8 py-4 rounded-normal">
          <h2 class="text-subHeading mb-2">Konfirmasi</h2>
          <p class="text-body mb-4">
            Setelah disembunyikan. Pengumuman tidak dapat di tampilkan kembali
          </p>
          <form action="/manage/announcement/hide/<%= idTarget %>" method="post">
            <button type="submit"
              class="px-8 py-2 rounded-normal w-fit hover:bg-red-700 hover:text-text-primary text-white transition-all delay-75 duration-150 z-40 bg-accent2 flex justify-between items-center gap-4">
              <i class="bi bi-eye-slash text-[1rem]"></i>
              <span class="text-body">Ya, Sembunyikan</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>