<%- include('../layout/header.html', {title: titlePage}) %>
<div class="w-full h-screen p-8">
  <div class="container mx-auto flex justify-center">
    <div class="w-full md:max-w-[80%]">
      <div class="mb-4">
        <a
          href="/"
          class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4"
        >
          <i class="bi bi-arrow-left-circle text-[1rem]"></i>
          <span class="text-body">Kembali</span>
        </a>
      </div>
      <h1 class="text-heading font-bold">Terms of Service</h1>
      <p class="text-body text-slate-500">Ketentuan Layanan</p>
      <hr class="h-1 bg-slate-800 mb-4 mt-2" />
      <h2 class="text-subHeading font-bold text-text-primary">
        Whatsapp<span class="text-accent2">Que</span>
      </h2>
      <div class="text-justify mb-4">
        <p class="text-body text-text-secondary">
          WhatsappQue merupakan layanan RestAPI untuk pengiriman pesan Via
          Whatsapp.
        </p>
        <p class="text-body text-text-secondary">
          Hal ini berguna untuk digunakan sebagai kode OTP dari apps milik kamu
          sendiri atau hal lainnya.
        </p>
        <p class="text-body text-text-secondary">
          Selain itu, WhatsappQue juga memiliki fitur lain yang hanya tersedia
          pada Versi Normada. Yaitu, Basa Jawa
        </p>
        <p class="text-body text-text-secondary">
          Kamu dapat mencari makna atau istilah terkenal Jawa.
        </p>
      </div>
      <h2 class="text-subHeading font-bold text-text-primary">
        Persetujuan Pengguna
      </h2>
      <div class="text-justify mb-4 text-text-secondary">
        <p class="text-body text-text-secondary mb-2">
          Dengan menggunakan layanan ini, kamu menyetujui dan terikat dengan
          ketentuan yang berlaku. Jika Kamu tidak setuju dengan ketentuan ini,
          layanan tidak dapat dilakukan
        </p>
      </div>
      <h2 class="text-subHeading font-bold text-text-primary">
        Ketentuan Layanan
      </h2>
      <p class="text-body mb-4">
        Dengan menggunakan layanan ini, kamu setuju untuk tidak melakukan
        tindakan yang melanggar hukum, melanggar hak milik intelektual, atau
        merugikan pengguna lain, menyebarkan berita HOAX atau melakukan spam.
        Spam termasuk, namun tidak terbatas pada, pengiriman pesan yang tidak
        diinginkan atau tidak diminta, penyebaran informasi palsu atau
        menyesatkan, dan penggunaa massal untuk mempromosikan konten. kamu juga
        setuju untuk bertanggung jawab atas segala aktivitas yang terjadi di
        bawah akunmu dan untuk menjaga kerahasiaan informasi login. Owner berhak
        untuk menghentikan atau membatasi aksesmu ke layanan ini jika Owner
        mendapati pelanggaran terhadap ketentuan ini
      </p>

      <h2 class="text-subHeading font-bold text-text-primary">
        Kebijakan Privasi
      </h2>
      <div class="text-justify mb-4">
        <p class="text-body">
          Owner menghargai privasi kamu. Kebijakan privasi kami menjelaskan
          bagaimana kami mengumpulkan, menggunakan, mengungkapkan, dan
          melindungi informasi pribadi yang kamu berikan kepada sistem saat
          menggunakan layanan kami.
        </p>
        <p class="text-body">
          Dalam menggunakan layanan ini data anda tersimpan aman di database.
          Namun perlu di garis bawahi. karena WhatsappQue basisnya adalah
          WhatsappWeb yang dimana membutuhkan device Smartphone untuk
          penggunaan. Owner dapat kapan saja membuka interaksi anda dari Layanan
          ini.
        </p>
      </div>
      <h2 class="text-subHeading font-bold text-text-primary">
        Batasan Tanggung Jawab
      </h2>
      <div class="text-justify mb-4">
        <p class="text-body">
          Owner menyediakan layanan ini dengan baik dan sebaik mungkin, namun
          tidak memberikan jaminan atas kelengkapan, keakuratan, keandalan,
          ketersediaan, atau keakuratan konten atau informasi yang tersedia di
          dalamnya. Owner tidak bertanggung jawab atas kerugian atau kerusakan
          yang timbul dari penggunaan atau ketidakmampuan menggunakan layanan
          ini. termasuk, namun tidak terbatas pada, kerugian langsung, tidak
          langsung, insidental, konsekuensial, atau hukuman, bahkan jika telah
          diberitahu tentang kemungkinan kerugian tersebut
        </p>
      </div>
      <div
        class="w-full bg-accent2 rounded-normal grid grid-cols-4 justify-center gap-2 mb-8 px-8 py-4 h-36 items-center"
      >
        <div class="col-span-1 w-full justify-center items-center flex">
          <i class="bi bi-exclamation-triangle text-white text-[5rem]"></i>
        </div>
        <div class="col-span-3 text-white">
          <h3 class="text-heading font-bold leading-4">LARANGAN KERAS!!!</h3>
          <p class="text-subHeading text-white">
            Penggunaan SPAM, Penyebaran HOAX, Eksploitasi
          </p>
        </div>
      </div>
      <form action="/tos" method="post" class="w-full text-right mb-8">
        <button
          type="submit"
          class="px-4 py-2 w-1/2 bg-green-700 text-white hover:opacity-50 border border-slate-400 rounded-normal"
        >
          Setuju & Lanjutkan
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('../layout/footer.html'); %>
