<%- include('../layout/header.html', {title: titlePage}) %>
    <div class="w-full h-screen p-8">
        <div class="container mx-auto flex justify-center">
            <div class="w-full md:max-w-[80%]">
                <div class="mb-4">
                    <a href="/"
                        class="px-8 py-2 rounded-normal w-fit hover:bg-text-primary hover:text-white transition-all delay-75 duration-150 z-40 bg-white flex justify-between items-center gap-4">
                        <i class="bi bi-arrow-left-circle text-[1rem]"></i>
                        <span class="text-body">Kembali</span>
                    </a>
                </div>
                <h1 class="text-heading font-bold ">Terms of Service</h1>
                <p class="text-body text-slate-500  ">Ketentuan Layanan</p>
                <hr class="h-1 bg-slate-800 mb-4 mt-2">

            </div>
        </div>
    </div>
    <%- include('../layout/footer.html'); %>